@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Raleway-Black';
    src: url('../fonts/Raleway-Black.ttf');
}

@font-face {
    font-family: 'Levi';
    src: url('../fonts/LEVIBRUSH.TTF');
}


#mainContent{
  font-family: 'Levi', "Arial Black", Gadget, sans-serif;
  font-size: 154px;
  color: white;
  text-shadow: 10px 10px 0px #028fe0;
  font-weight: 300;
}

#descContent{
  font-family: 'Raleway-Regular';
  font-size: 11pt;
  color: white;
  text-shadow: 0px 1px 2px #028fe0;
}

.pusher{
  background-color: #1facfe;
  padding-left: 8%;
  padding-right: 8%;
}

.fullscreen{
  height: 100% !important;
}

.marginTopZero{
  margin-top: 0 !important;
}

#brImage{
  width: 415px;
  height: auto;
}

.gb.flag, .id.flag{
  cursor: pointer;
}

@media only screen and (max-device-width: 720px) {

  #mainContent{
    font-size: 100px;
    text-shadow: 7px 7px 0px #028fe0;
  }

  .pusher{
    padding-top: 8%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .fullscreen{
    height: auto !important;
  }

}
